<!--table class="table table-bordered"-->
<p align="right"><span style="font-size:x-large"><%= @result.size %></span>曲</p>
<table class="table table-hover">
  <tr>
    <th></th>
    <th>曲名</th>
    <th>ボーカル</th>
    <!--th>キャラ</th-->
    <th>作曲</th>
    <th>作詞</th>
    <th>編曲</th>
    <th>DAM</th>
    <th>JOY</th>
    <th>UGA</th>
    <th>鉄人</th>
    <th>パセラ</th>
  </tr>
<% @result.each do |r| %>
  <% data = JSON.parse(r.songdata) %>
  <tr>
    <td width="10"><%= data['series'] %></td>
    <td width="200"><%= r.name %></td>
    <% ["vocalist",
       # "character",
       "composer",
       "writer",
       "arranger",
       "code"].each do |key| %>
      <% if key == "code" %>
        <% ["DAM", "JOY", "UGA", "tetsujin", "pasela"].each do |maker| %>
          <td width="100">
	    <% data[key][maker].each do |str| %>
	      <%= raw(str) %><br />
	    <% end %>
	  </td>
	<% end %>
      <% else %>
        <td width="100">
          <% data[key].each do |v| %>
            <%= v %><br />
          <% end %>
        </td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>
