<p style="text-align:right">※使い方は<a target="" href="http://blog.goo.ne.jp/speedmod/e/f8408101bba0f7676562d2bc0caa23be">このページ</a>を参考にしてください。</p>
<form class="fields" id="song_query" action="songs/search" method="post">
<table>
  <tr>
    <th id="top">【プリカラ検索】</th>
    <th>シリーズ <i id="reset_series" class="fa fa-eraser"></i></th>
    <th>ボーカル <i id="reset_vocalist" class="fa fa-eraser"></i></th>
    <th>キャラクター <i id="reset_character" class="fa fa-eraser"></i></th>
    <th>作曲 <i id="reset_composer" class="fa fa-eraser"></i></th>
    <th>作詞 <i id="reset_writer" class="fa fa-eraser"></i></th>
    <th>編曲 <i id="reset_arranger" class="fa fa-eraser"></i></th>
    <td>© プリカラ部 ♪</td>
  </tr>
  <tr>
    <td>
      <input id="query" type="text" name="query" placeholder="曲名" class="form-control" />
    </td>
    <td>
      <select id="series" name="series" class="form-control">
	<option value="empty"></option>
	<% Series.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select id="vocalist" name="vocalist" class="form-control">
	<option value="empty"></option>
	<% Vocalist.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select id="character" name="character" class="form-control">
	<option value="empty"></option>
	<% Character.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select id="composer" name="composer" placeholder="作曲" class="form-control">
	<option value="empty"></option>
	<% Composer.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select id="writer" name="writer" class="form-control">
	<option value="empty"></option>
	<% Writer.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <select id="arranger" name="arranger" class="form-control">
	<option value="empty"></option>
	<% Arranger.all.each do |s| %>
	<option value="<%= s.id %>"><%= s.name %></option>
	<% end %>
      </select>
    </td>
    <td>
      <input id="resetbtn" type="reset" value="Reset(Ctrl-d)" class="btn btn-default btn-sm">
    </td>
  </table>
      <div class="radio">
	<label>
	  <input type="radio" name="searchpos" value="begin_with" checked>
	  ...から始まる
	</label>
      </div>
      <div class="radio">
	<label>
	  <input type="radio" name="searchpos" value="included">
	  ...を含む
	</label>
      </div>
</form>
<div id="song_table"></div>
